/* Elements classes */

body {
    font-family: 'Lato', sans-serif !important;
}

.container {
    max-width: 1240px !important;
}

.logo-title {
    font-family: 'DM Sans', sans-serif !important;
    font-weight: 700 !important;
    font-size: 36px !important;
    color: #D04F4F !important;
}

.form-control {
    height: unset !important;
    font-size: 1.1rem !important;
    background: #E7E7E7 !important;
}

.input-group-text {
    background: #E7E7E7 !important;
}

.dropdown-toggle::after {
    display: none !important;
}

#input-ingredient:focus, #input-tool:focus, #input-ustensil:focus {
    color: white;
}

.btn:hover {
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 0.5 !important ; /* Firefox */
}

.text-trunc {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 7 !important;
    -webkit-box-orient: vertical !important;
    background:#fff !important;
}

.img-inv {
    transform: rotateX(190deg) !important;
}

.dropdown-menu.show {
    display: flex;
    flex-wrap: wrap !important;
    top: 98% !important;
    transform: unset !important;
    width: 100%;
}

.dropdown-item {
    width: 33% !important;
    white-space:normal !important;
}

.dropdown-item:hover {
    background-color: unset !important;
}

.dropdown-menu > button {
    color: white !important;
}

/* Color classes */

.bg-blue {
    background: #3282F7 !important;
}

.bg-light-green {
    background: #68D9A4 !important;
}

.bg-light-red {
    background: #ED6454 !important;
}


/* Font classes */

.font-color-white {
    color: white;
}

.text-Roboto {
    font-family: 'Roboto' !important;
}

.tiny-font {
    font-size: 0.8rem !important;
}

.normal-font {
    font-size: 1.1rem !important;
}

.lh-100 {
    line-height: 1 !important;
}

/* Border classes */

.border-bottum-rounded {
    border-bottom-left-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.border-top-rounded {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
}

.border-top-left-rounded {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: 0 !important;
}

.border-top-right-rounded {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: .25rem !important;
}

/* margins */

.ml-70 {
    margin-left: 70% !important;
}

@media screen and (min-width:768px) {

    .ml-md-10 {
        margin-left: 10% !important;
    }
}

/* width*/


@media screen and (min-width:768px) {
    .w-md-25 {
        width: 25% !important;
    }

    .w-md-40 {
        width: 40% !important;
    }

    .mw-md-48 {
        max-width: 48% !important;
    }

    .mw-md-200 {
        max-width: 200px !important;
    }
}

@media screen and (min-width:1155px) {

    .mw-xl-380 {
        max-width: 380px !important;
    }
    
}
